* {
	font-family: 'Lato', sans-serif;
	background: background-color: #ffffff;
}

body {
	background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23cce7de' fill-opacity='0.31' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}

.search-bar {
	margin: 0 20px;	
	text-align: center;
}

.search-bar input {
	width: 35%;
}

.video-item img {
	max-width: 64px;
}

.dog-detail {
	max-height: 80vh;
	padding: 20px;
    border: 10px solid #000;
    background: #fff;
}
.dog-detail .details {
	margin-top: 10px;
	padding: 10px;
	border-radius: 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.list-group-item {
	cursor: pointer;
    border: none !important;
}

.videotitle {
	font-weight: 700;
}
.container {
	position: relative;
}

.hideModal {
	display: none;
}
.showModal {
	display: block;
}
#doglistmodal {
	position: fixed;
    z-index: 100;
    background: #000;
    padding: 40px;
    color: #fff;
    text-align: center;
    width: 70%;
    margin: 10% 15%;
    padding: 20px;
}
#overlay {
	position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.85);
}
.showModal span {
    display: inline-block;
}

.showModal span.dog:hover {
	cursor: pointer;
	color: #4ee9b4;
}
.slash {
	margin: 0 10px;
}

.dogImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 75px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.list-group-item:hover {
	background: #eee;
}

.list-group-item:hover .dogImg {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.dogoholder {
	background: #fff;
	margin: 5px auto;
	border-radius: 5px;
	padding: 10px;
}

.maindogimg {
	max-height: 50vh;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.media-heading {
	font-size: 12px;
}

.title {
    padding: 0 20px 0 0;
    font-family: 'Risque', cursive;
}

.search-bar {
	background: #000;
    width: 100%;
    margin: 0 0 10px;
    padding: 20px 0;
}

.submitbtn {
	cursor: pointer;
	color: #fff;
	padding: 0 10px;
}

.submitbtn:hover{
	color: #4ee9b4;
}

.doggoIps {
	font-size: 14px;
}
.searchpaw {
	padding-right: 5px;
}

@media (min-width: 1000px) { 
	.list-group {
	    padding-left: 0;
	    margin-bottom: 0;
	    overflow: scroll;
	    height: 85vh;
	}
	.row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}
	.list-group {
		border: 1px solid #ccc;
	}
}

@media (max-width: 800px) { 
	.title {
		font-size: 30px;
	}
	.dog-detail {
		max-height: none;
	}
	#doglistmodal {
	    width: 100%;
	    margin: 0;
	    padding: 20px;
	    font-size: 12px;
	}
	.search-bar input {
	    width: 70%;
	}
	.maindogimg {
		height: 250px;
	}
	.dogImg {
		-webkit-filter: grayscale(0%);
    	filter: grayscale(0%);
	}
}